<p  class="page__meta">
  {% if post.read_time %}
    <span><i class="fa fa-clock-o" aria-hidden="true"></i>
      {%- include read-time.html -%}  
    </span>,
  {% elsif page.read_time %}
    <span><i class="fa fa-clock-o" aria-hidden="true"></i>
      {%- include read-time.html -%}  
    </span>,
  {% endif %}
  {% if post.date %}
    Posted on 
    <span>{{ post.date | date: "%B %d, %Y" }}</span>,
  {% elsif page.date %}
    Posted on 
    <span>{{ page.date | date: "%B %d, %Y" }}</span>,
  {% endif %}
  {% if post.author %} 
    by <span>{{ post.author }}</span>
  {% elsif page.author %}
    by <span>{{ page.author }}</span>
  {% endif %}
</p>